{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block content %}
<h3>Thanks for using us! It is a website where you can search for homes online.</h3>
<p>AbodeFinder is a full-stack website developed by Shradha Saxena using the Django backend framework and the Bootstrap frontend framework. This platform addresses the common challenge faced by students, employees, and other individuals who are new to a city and in search of a place to live. Finding accommodation in an unfamiliar city or state can often be difficult, especially when communication barriers arise. AbodeFinder assists users by enabling them to search for available homes in their desired locations, making the transition smoother and more convenient.</p>

<h2>To use AbodeFinder, follow these simple steps:</h2>
<ul>
    <li>Sign up or log in to AbodeFinder.</li>
    <li>If you are a property owner, add the details of your dwelling on the AddHome page so that others can contact you. If you are not a property owner, skip this step.</li>
    <li>Use the search bar on the home page to look for locations where you want to find a place to live.</li>
    <li>After searching for a location, click on "Read More" to access a detailed page with all the relevant information about the property.</li>
</ul>

<h2>Features of AbodeFinder:</h2>
<ul>
    <li>Global Online Search: Find homes worldwide with ease.</li>
    <li>No Language Barrier: Communicate seamlessly regardless of language differences.</li>
    <li>Direct Access to Owners: Connect directly with property owners.</li>
    <li>Time and Effort Savings: Simplify your search and save valuable time and effort.</li>
    <li>Advanced Filtering Options: Use filters to narrow down your search based on your specific preferences.</li>
    <li>Detailed Property Listings: Access comprehensive information about each property, including photos and amenities.</li>
    <li>Mobile-Friendly Interface: Search for homes on the go with a user-friendly mobile interface.</li>
</ul>

{% endblock %}
